.nav_header {
    background-color: #002538;
    padding: 0 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    left: 0;
    height: 10px; /* Set a fixed height for the header */
    display: flex;
    align-items: center; /* Vertically center the content */
}
  
.nav_header .logo {
    max-height: 10px; /* Set a maximum height for the logo */
    width: auto; /* Maintain the aspect ratio */
}
